/HibernateTest/nbproject/private/
/HotelReservationEntities/nbproject/private/
/HotelReservationRemote/nbproject/private/
/HotelReservationEntities/build/
/HotelReservationEntities/dist/
/HotelReservationRemote/dist/
/HotelReservationRemote/build/
/build/
/HotelReservation-war/build/
/HotelReservation-war/dist/
/HotelReservation-ejb/dist/
/dist/
/HotelReservationSpring/nbproject/private/
/testdelete/nbproject/private/
/testdelete/build/
/testdelete/dist/
/HotelReservationEntities-ejbmodule/nbproject/private/
/HotelReservationEntities-ejbmodule/dist/
/HotelReservationEntities-ejbmodule/build/